.wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
 }

.container {
    background: #F9F9FE;
    border-radius: 8px;
    display: flex;
    min-height: 70vh;
    width: 80vw;
    overflow: hidden;
}

.sideBar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 35px 25px;
    background: #ECECF9;
    min-height: 400px;
    min-width: 25%;
}

.sideBarTitle {
    margin-bottom: 20px;
}

.ownSelector {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.packsBar {
    display: flex;
    flex-direction: column;
    padding: 35px 25px;
    min-width: 75%;
}

.packsBarTitle {
    margin-bottom: 20px;
}

.packsBarActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.packsBarContent {
    display: flex;
    flex-grow: 1;
    margin-bottom: 30px;
}
