.default {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    line-height: 1.5;
    color: #ffffff;
    background-color: #21268F;
    cursor: pointer;
    transition: 0.2s;
}

.silver {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    line-height: 1.5;
    color: #21268F;
    background-color: #D7D8EF;
    cursor: pointer;
    transition: 0.2s;
}

.default:hover, .default:focus, .silver:hover, .silver:focus {
    outline: 0;
}

.default:hover, .silver:hover {
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
}

.default:disabled, .silver:disabled {
    opacity: 0.5;
}
