.search {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #2D2E46;
}

.icon {
    position: absolute;
    left: 17px;
    top: 12px;
    bottom: 14px;
    cursor: pointer;

}

.searchInput {
    height: 36px;
    min-width: 460px;
    background: #ECECF9;
    opacity: 0.5;
    border: 1px solid #635D80;
    border-radius: 2px;
    padding-left: 40px;
}





