.container {
    font-family: 'Poppins', serif;
    background: #FEFEFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sortButton {
    display: flex;
    cursor: pointer;
}
