.error {
.superInput {
    height: 40px;
    background: white;
}

.superInput:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

.errorInput {
    width: 200px;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
    background: red;
}

    color: red;
}

.field {
    position: relative;
    margin-bottom: 10px;
}

.fieldInput {
    width: 100%;
    margin-bottom: 25px;
    padding: 5px 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #24254A;
    border-radius: 0;
}

.fieldInput:-webkit-autofill,
.fieldInput:-webkit-autofill:hover,
.fieldInput:-webkit-autofill:focus,
.fieldInput:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.fieldInput:focus {
    outline: none;
}

.fieldLabel {
    display: block;
    margin-bottom: 5px;
}

.fieldError {
    position: absolute;
    top: calc(100% - 25px);
    right: 0;
    width: 100%;
    color: crimson;
}
