.header {
    width: 100%;
    height: 60px;
    background: #EBE0E9;
    margin-bottom: 24px;
    position: relative;
    display: flex;
}

.headerText {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 163px;
    height: 39px;
    left: 136px;
    top: 10px;

    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    /* identical to box height */


    color: #2D2E46;
}

.menu {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;

}
